<div class="timeline-item-icon" [ngClass]="getConnectorClasses()"><i [ngClass]="getIconClass()"></i></div>
<div class="timeline-item-inner">
    <div class="timeline-item-content">
        <jna-timeline-date class="timeline-date" [date]="event.created_at"></jna-timeline-date>
        <h4 class="timeline-title">{{eventMessage}}</h4>
        <div class="timeline-summary">
            <h5 class="timeline-subtitle">{{repoName}}</h5>
            <h5 class="timeline-commit-message">{{commitMessage}}</h5>
        </div>
    </div>
</div>
