.timeline-item:hover {
    .timeline-item-content {
        .timeline-commit-message {
            opacity: 1;
        }
    }
}

.timeline-item.even {
    .timeline-commit-message {
        float: right;
    }
}

.timeline-commit-message {
    font-size: $global-font-size-larger;
    position: relative;
    float: left;
    margin-top: $global-spacing-large;
    color: $global-darkest-color;
    text-align: center;
    width: $timeline-item-content-width;
    opacity: 0;
    padding: $global-spacing-medium;
    height: $timeline-item-content-height;
}
