@font-face {
    font-family: "VeraMono";
    src:url("assets/fonts/VeraMono.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    background: $global-lighter-color;
}

body {
    font-family: VeraMono;
    font-size: $global-base-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
