.timeline-item:hover {
    .timeline-languages {
        color: $global-lightest-color;
        background: $global-darkest-color;
    }

    .timeline-thumbnail {
        opacity: 1;
    }

    .timeline-languages {
        opacity: 1;
        height: auto;
        transition-delay: $global-transition;
        transition: opacity height $global-transition;
    }
}

.timeline-item.even {
    .timeline-languages {
        float: right;
    }
}

.timeline-languages {
    padding: $global-spacing-smaller $global-spacing-medium $global-spacing-smallest $global-spacing-medium;
    white-space: nowrap;
    margin: 0;
    float: left;
    clear: both;
    position: relative;
    z-index: 1;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity $global-transition-very-long;
}

.timeline-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
