.timeline-settings {
    position: fixed;
    width: 100%;
    background: $global-color-darkest;
    text-align: right;
    color: $global-color-lightest;
    padding: 5px;
    font-size: $global-font-size-smaller;
    z-index: 1001;

    a {
        color: inherit;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        font-size: $global-font-size-large;

        &:before {
            font-size: $global-font-size-larger;
            vertical-align: top;
        }

        &:hover {
            color: inherit;
        }
    }
}
