@function darker($color, $pct) {
  @return mix(#000, $color, $pct);
}

@function lighter($color, $pct) {
  @return mix(#fff, $color, $pct);
}

@mixin gradient($start, $end, $startPct: 0%, $endPct: 100%) {
  background: $start;
  background: -moz-linear-gradient(top, $start $startPct, $end $endPct);
  background: -webkit-linear-gradient(top, $start $startPct, $end $endPct);
  background: linear-gradient(to bottom, $start $startPct, $end $endPct);
}

@mixin make-theme($primary, $secondary) {
  background: lighter($primary, 10%);
  color: $secondary;
}

.theme-about {
  @include make-theme(#00c1ff, #333);
}

.theme-timeline {
  position: relative;
  z-index: 1;
  @include make-theme(#ffab00, #333);
}

.theme-contact {
  @include make-theme(#cc005b, #333);
}
