.timeline-wrapper {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.timeline-item-wrapper {
    display: block;
    width: 100%;
    background: #0f0;
    float: left;
    clear: both;
}

.timeline-item {
    display: block;
    width: 100%;
    position: relative;
    float: left;

    p {
        margin: 0;
    }

    .timeline-item-inner {
        display: block;
        width: 0;
        background: #00f;
        transition: all .5s;
        overflow: hidden;
        margin: 0 295px 0 0;
        float: right;
        border-left: none;
        border-right: 10px solid #f00;

        &:hover {
            width: 305px;
        }
    }

    .timeline-item-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        margin: -15px 0 0 -15px;
        background: #ff0;
        text-align: center;
        line-height: 32px;
    }

    .timeline-item-content {
        padding: 20px;
        width: 299px;
        border: 1px dotted #ccc;
        border-right: none;
    }


    &.is-hidden {}

    &.even {
        .timeline-item-inner {
            float: left;
            clear: both;
            margin: 0 0 0 295px;
            border-right: none;
            border-left: 10px solid #f00;
        }

        .timeline-item-content {
            border: 1px dotted #ccc;
            border-left: none;
        }
    }
}

.timeline-date {
    width: $item-date-size;
    height: $item-date-size;
    font-size: $global-font-size-smallest;
    display: block;
    text-align: center;
    padding-top: $global-spacing-smaller;
}

.timeline-date-date,
.timeline-date-month,
.timeline-date-year {
    display: block;
}

.timeline-date-date {
    font-size: $global-font-size-larger;
    line-height: 1em;
}


.timeline-date-year {
    font-size: $global-font-size-smaller;
}
