.timeline-wrapper {
    width: $global-content-width;
    height: $global-content-height;
    display: block;
    margin: 0 auto;
    padding-top: $global-spacing-largest;
}

.timeline-item-wrapper {
    margin: 0;
    padding: 0;
    width: 33.333%;
}

.timeline-item {
    display: block;
    margin: $global-spacing-medium;
    min-height: 42px;

    transform-origin: 0 0;
    perspective: 320px;

    .timeline-item-flipper {
        transition: all 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .timeline-item-front,
    .timeline-item-back {
        display: block;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        color: $global-dark-color;
        background: $global-lightest-color;
        border: 1px dotted $global-light-color;
        padding: $global-spacing-small 41px + $global-spacing-small $global-spacing-small $global-spacing-small;
    }

    .timeline-item-front {
        z-index: 1;
    }

    .timeline-item-back {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
    }

    &.is-hidden .timeline-item-flipper {
        transform: rotateY(180deg);
    }
}

.timeline-item-content {
    display: block;
}

.timeline-title,
.timeline-subtitle {
    text-transform: lowercase;
    font-size: $global-font-size-smaller;

    span {
        white-space: nowrap;
        width: 85%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    span,
    &:before,
    &:after {
        vertical-align: middle;
    }

    &:before,
    &:after {
        font-size: $global-font-size-largest;
    }
}

.timeline-subtitle {
    font-size: $global-font-size-smallest;
    text-transform: uppercase;
    color: $global-medium-color;
    padding-left: 25px;
}

.timeline-date {
    position: absolute;
    right: 0;
    width: 41px;
    height: 32px;
    top: 50%;
    color: $global-light-color;
    margin: -16px 0 0 00;
    padding: $global-spacing-smaller $global-spacing-medium $global-spacing-smallest $global-spacing-medium;
}

.timeline-date-month {
    display: block;
    font-size: $global-font-size-smaller;
    line-height: $global-font-size-smaller;
    text-transform: uppercase;
}

.timeline-date-date {
    display: block;
    font-size: $global-font-size-large;
    line-height: $global-font-size-large;
}
