@function darker($color, $pct) {
    @return mix(#000, $color, $pct);
}

@function lighter($color, $pct) {
    @return mix(#fff, $color, $pct);
}

@mixin make-icon($color, $pct: 50%) {
    color: $color;

    &:hover {
        color: darker($color, $pct);
        text-shadow: 0 0 5px $color;
    }
}


@mixin make-button($primary, $secondary, $tertiary) {
    background: $primary;
    color: $global-color-lightest;
    transition: all $global-transition-fast;

    &:hover {
        background: $secondary;
        box-shadow: 0 0 $global-spacing-large $primary;
    }
}

@mixin make-theme($primary) {
    $secondary: darker($primary, $theme-secondary-scale);
    $tertiary: lighter($primary, $theme-secondary-scale);

    &.timeline-item {
        .timeline-item-inner {
            &::before {
                background: $secondary;
                box-shadow: 0 0 0 $secondary;
            }
        }

        .timeline-item-icon {
            border: $global-spacing-smallest solid $secondary;
            background: $primary;
            color: $secondary;
        }

        .timeline-date {
            background: $tertiary;
            color: $secondary;
            border: 2px solid $primary;
        }

        &:hover {
            .timeline-item-inner {
                &::before {
                    background: $primary;
                    box-shadow: 0 0 $timeline-width*$timeline-hover-scale $secondary;
                }
            }

            .timeline-item-icon {
                border-color: $primary;
                background: $secondary;
                color: $primary;
            }

            .timeline-date {
                background: $secondary;
                color: $tertiary;
            }
        }
    }

    .btn {
        @include make-button($primary, $secondary, $tertiary);
    }
}

$angular-color: #e7333e;
$sql-color: #005b86;
$scss-color: #cd669a;
$css-color: #29a8e0;
$react-color: #00d8ff;
$html-color: #f16529;
$js-color: #8acf17;
$java-color: #0d8ac7;
$svg-color: #ffb13b;
$python-color: #ffd747;
$ruby-color: #ec1622;
$shell-color: #f05033;
$powershell-color: #14adcf;
$apache-color: #7d287d;
$php-color: #6c7eb7;
$nginx-color: #009639;
$go-color: #f07c31;
$docker-color: #3a8cb4;
$clojure-color: #63b132;
$csharp-color: #4da3de;
$unknown-color: #40de93;
$icon-hover-color: #fff;

$theme-commit-color: #1FADBA;
$theme-repo-color: #F3572D;
$theme-branch-color: #9ABE1F;
$theme-blog-color: #9640d2;
$theme-history-color: #F68F03;

$global-color-darkest: #000;
$global-color-medium: #333;
$global-color-light: #ddd;
$global-color-lighter: #f0f0f0;
$global-color-lightest: #fff;
$global-color-background: #f3f3f3;
$global-color-background-darker: darker($global-color-background, 20%);

$global-font-size-base: 14px;

$global-font-size-smallest: .7em;
$global-font-size-smaller: .75em;
$global-font-size-small: 1.1em;
$global-font-size-large: 1.2em;
$global-font-size-larger: 1.3em;
$global-font-size-largest: 1.6em;

$global-transition-fast: .3s;
$global-transition-slow: 1s;

$global-spacing-larger: 30px;
$global-spacing-large: 20px;
$global-spacing-medium: 10px;
$global-spacing-small: 5px;
$global-spacing-smaller: 3px;
$global-spacing-smallest: 2px;

$content-width: 600px;
$timeline-item-height: 90px;
$timeline-width: 10px;
$item-icon-size: 30px;
$date-icon-size: 45px;
$timeline-hover-scale: 1.5;
$theme-secondary-scale: 40%;

$screen-xs-min: $content-width;

$rainbow1: #ff77d2;
$rainbow2: #ffb800;
$rainbow3: #e7ff06;
$rainbow4: #7aff00;
$rainbow5: #00e3ff;

$global-date-icon-z: 1;
$global-hover-z: 2;
$global-timeline-bar-z: 4;
$global-item-icon-z: 5;
$global-item-z: 3;

