$screen-xs-min: 320px;
$screen-sm-min: 475px;
$screen-lg-min: 1000px;

$angular-color: #e7333e;
$sql-color: #005b86;
$scss-color: #cd669a;
$css-color: #29a8e0;
$react-color: #00d8ff;
$html-color: #f16529;
$js-color: #8acf17;
$java-color: #0d8ac7;
$svg-color: #ffb13b;
$python-color: #ffd747;
$ruby-color: #ec1622;
$shell-color: #f05033;
$powershell-color: #14adcf;
$apache-color: #7d287d;
$php-color: #6c7eb7;
$nginx-color: #009639;
$go-color: #f07c31;
$docker-color: #3a8cb4;
$clojure-color: #63b132;
$csharp-color: #4da3de;
$unknown-color: #40de93;
$icon-hover-color: #fff;

$global-darkest-color: #000;
$global-darker-color: #222;
$global-dark-color: #666;
$global-medium-color: #bbb;
$global-light-color: #ccc;
$global-lighter-color: #fbfbfb;
$global-even-lighter-color: #eee;
$global-lightest-color: #fff;

$global-base-font-size: 14px;

$global-font-size-smallest: .7em;
$global-font-size-smaller: .8em;
$global-font-size-small: 1.1em;
$global-font-size-large: 1.2em;
$global-font-size-larger: 1.3em;
$global-font-size-largest: 1.6em;

$global-content-width: 80%;
$global-content-height: 100%;

$timeline-item-height: 150px;
$timeline-item-content-height: 95px;
$timeline-item-width: 50%;
$timeline-item-content-width: 100%;
$timeline-item-width-open: 200%;
$timeline-item-width-open-lg: 400%;

$global-spacing-largest: 40px;
$global-spacing-larger: 30px;
$global-spacing-large: 20px;
$global-spacing-medium: 10px;
$global-spacing-small: 5px;
$global-spacing-smaller: 3px;
$global-spacing-smallest: 1px;

$global-transition: .3s;
$global-transition-long: .5s;
$global-transition-very-long: .8s;
