<div class="timeline-settings">
    <span>{{title}}</span>
    <a [ngClass]="getIconClass('commits')" (mouseenter)="onHover('commits')" (mouseleave)="onOut()" (click)="onClick($event, 'commits')" class="jna-icon-code-fork" href=""></a>
    <a [ngClass]="getIconClass('branches')" (mouseenter)="onHover('branches')" (mouseleave)="onOut()" (click)="onClick($event, 'branches')" class="jna-icon-github-square" href=""></a>
    <a [ngClass]="getIconClass('repos')" (mouseenter)="onHover('repos')" (mouseleave)="onOut()" (click)="onClick($event, 'repos')" class="jna-icon-birthday-cake" href=""></a>
    <a [ngClass]="getIconClass('experiments')" (mouseenter)="onHover('experiments')" (mouseleave)="onOut()" (click)="onClick($event, 'experiments')" class="jna-icon-flask" href=""></a>
    <a [ngClass]="getIconClass('tweets')" (mouseenter)="onHover('tweets')" (mouseleave)="onOut()" (click)="onClick($event, 'tweets')" class="jna-icon-twitter" href=""></a>
    <a [ngClass]="getIconClass('blogs')" (mouseenter)="onHover('blogs')" (mouseleave)="onOut()" (click)="onClick($event, 'blogs')" class="jna-icon-font" href=""></a>
</div>
