<div class="container-fluid fill">
    <div class="row fill">
        <div class="col-xs-6 col-xs-offset-5 fill">
        </div>
        <div class="col-xs-6 col-xs-offset-5 fill">
        </div>
    </div>
</div>
<div class="line-wrapper fill">
    <div class="line fill theme-about">
        <jna-about></jna-about>
    </div>
    <div class="line fill theme-timeline">
        <jna-timeline></jna-timeline>
    </div>
    <div class="line fill theme-contact">
        <jna-contact></jna-contact>
    </div>
</div>
<jna-intro class="intro">
  <div><h1>jonathan adamski</h1></div>
  <div><h2>developer | designer | human</h2></div>
</jna-intro>
