$size: 5px;
.item {
   margin: 10px auto;
   width: 0;
   height: 0;
   border: $size solid transparent;
   border-bottom-color: #000;
   position: relative;
   top: -$size;

   &:first-child {
     margin-top: 130px;
   }

   &::after {
     content: '';
     position: absolute;
     left: -$size;
     top: $size;
     width: 0;
     height: 0;
     border: $size solid transparent;
     border-top-color: #000;
   }
 }
