<div class="timeline-item-wrapper" *ngFor="let item of items; let isEven = even;">
    <jna-timeline-repo
        class="timeline-item"
        *ngIf="isItemRepo(item)"
        [repo]="item"
        [isEven]="isEven"
        (hover)="onHover($event)">
    </jna-timeline-repo>
    <jna-timeline-event
        class="timeline-item"
        *ngIf="isItemEvent(item)"
        [event]="item"
        [isEven]="isEven"
        (hover)="onHover($event)">
    </jna-timeline-event>
    <jna-timeline-blog
        class="timeline-item"
        *ngIf="isItemBlog(item)"
        [blog]="item"
        [isEven]="isEven"
        (hover)="onHover($event)">
    </jna-timeline-blog>
</div>
